# Project information
site_name: mesa-frames
site_url: https://projectmesa.github.io/mesa-frames
repo_url: https://github.com/projectmesa/mesa-frames
repo_name: projectmesa/mesa-frames
docs_dir: docs/general

# Theme configuration
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - navigation.tracking
    - navigation.indexes
    - toc.follow
    - search.suggest
    - search.highlight
    - search.share
    - header.autohide
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  icon:
    repo: fontawesome/brands/github

# Plugins
plugins:
  - search
  - mkdocs-jupyter
  - git-revision-date-localized:
      enable_creation_date: true
  - minify:
      minify_html: true
  - include-markdown:
      encoding: utf-8

# Extensions
markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: projectmesa
      repo: mesa-frames
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

# Extra JavaScript and CSS for rendering
extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

# Customization
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/projectmesa
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/mesa-frames/

# Navigation
nav:
  - Home: index.md
  - User Guide:
    - Getting Started: user-guide/0_getting-started.md
    - Classes: user-guide/1_classes.md
    - Introductory Tutorial: user-guide/2_introductory-tutorial.md
    - Advanced Tutorial: user-guide/3_advanced-tutorial.md
    - Benchmarks: user-guide/4_benchmarks.md
    - Numba Acceleration: user-guide/notebooks/numba_acceleration.ipynb
  - API Reference: api/index.html
  - Contributing:
    - Contribution Guide: contributing.md
    - Roadmap: roadmap.md