[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "mesa_frames"
version = "0.1.0-alpha1"
description = "An extension to the Mesa framework which uses pandas/Polars DataFrames for enhanced performance"
authors = [
  { name = "Adam Amer" },
]
license = { text = "MIT" }
dependencies = [
  "numpy~=1.26",
  "typing-extensions>=4.9" #typing-extensions.Self added in 4.9
]

[project.optional-dependencies]
pandas = [
  "pandas~=2.2",
  "pyarrow",
  #"geopandas" (only after GeoGrid / ContinousSpace is implemented)
]
polars = [
  "polars>=1.0.0", #polars._typing (see mesa_frames.types) added in 1.0.0
  #"geopolars" (currently in pre-alpha)
]

docs = [
  "perfplot", #readme_script
  "seaborn", #readme_script
  "mkdocs-material",
  "mkdocs-jupyter",
  "mkdocs-git-revision-date-localized-plugin",
  "mkdocs-minify-plugin"
]

dev = [
  "mesa_frames[pandas, polars, docs]",
  "pytest",
  "pytest-cov",
  "typeguard",
  "mesa",
]

[tool.hatch.envs.dev] #Allows installing dev as virtual env
features = ["dev"]

[tool.hatch.build.targets.wheel]
packages = ["mesa_frames"]

[tool.ruff.lint]
select = ["D"]
ignore = ["D101", "D102"]

[tool.ruff.lint.pydocstyle]
convention = "numpy"