[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "mesa_frames"
version = "0.1.0-alpha1"
description = "An extension to the Mesa framework which uses pandas/Polars DataFrames for enhanced performance"
authors = [
  { name = "Adam Amer" },
]
license = { text = "MIT" }
dependencies = [
  "numpy~=1.26",
  "typing-extensions>=4.9"
]

[project.optional-dependencies]
pandas = [
  "pandas~=2.2",
  "geopandas",
  "pyarrow",
]
polars = [
  "polars>=1.0.0", #polars._typing (see mesa_frames.types) added in 1.0.0
]
dev = [
  "mesa_frames[pandas,polars]",
  "pytest",
  "pytest-cov",
  "typeguard",
  "mesa",
]

[tool.hatch.build.targets.wheel]
packages = ["mesa_frames"]
